@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: decimal;
}

.list-item{
  padding:20px;
  font-size: 25px;
  font-family: 'Indie Flower', cursive;
}

.app{
  background-color: rgb(151, 98, 201);
}

.title-header{
  font-family: 'Shizuru', cursive;
  margin-top: 0;
  padding-top: 25px;
  width: 100%;
  height: 80px;
  display: block;
  background-color: #2b2828;
  color:rgb(172, 125, 216);
  text-align: center;
}